.contacts-us__list {
    display: flex;
    margin-left: auto; 
  }
  
  .contacts-us__item:not(:first-child) {
    margin-left: 50px;
  }
  
  .contacts-us__link {
    display: flex;
    color: var(--primary-text-color);
    font-weight: var(--medium-font-weight);
    line-height: 1.14;
    align-items: center;
    
    padding-top: 32px;
    padding-bottom: 32px;
  
    transition: color var(--main-transition);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
  }
  
  .contacts-us__icon {
    margin-right: 10px;
    fill: currentColor;
    display: inline-block;
  }
  
  